version: '3.0'
services:
  valhalla:
    image: gisops/valhalla:3.1.3
    mem_limit: 6144M
    mem_reservation: 256M
  # deploy:
    #   resources:
    #     limits:
    #       cpus: 0.50
    #       memory: 8G
    #     reservations:
    #       cpus: 0.10
    #       memory: 512M
    ports:
      - "8002:8002"
    volumes:
      - ./custom_files/:/custom_files
    environment:
      # The tile_file must be located in the `custom_files` folder.
      # The tile_file has priority and is used when valid.
      # If the tile_file doesn't exist, the url is used instead.
      # Don't blank out tile_url when you use tile_file and vice versa.
      - tile_urls=http://download.geofabrik.de/europe/ukraine-latest.osm.pbf
      # Get correct bounding box from e.g. https://boundingbox.klokantech.com/
      - min_x=43 # | -180 -> World
      - min_y=21 # | -90  -> World
      - max_x=53 # |  180 -> World
      - max_y=41 # |  90  -> World
      - use_tiles_ignore_pbf=True
      - force_rebuild=False
      - force_rebuild_elevation=False
      - build_elevation=False
      - build_admins=True
      - build_time_zones=True
